@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
/* font-family: 'Montserrat', sans-serif; */

:root {
    --bg-dark: #1F2937;
    --bg-light: #fff;
    --btn: #10B981;
    --btn-bg-color: #4ADF86;
    --btn-color: #fff;
    --custom-dark: #103e5f;
    --dark-output: #273549;
    --extra-fade: #888888;
    --eye-white: #fff;
    --fade: #D5D4D8;
    --highlight: #4ADF86;
    --scrollbar-bottom: #D5D4D8;
    --state-copy: #51c07e;
}

*{
    margin: 0;
    padding: 0;
}

body{
    overflow-x: hidden;
}

/* title{
    color: var(--highlight);
} */

.main-container{
	align-items: flex-start;
    background-color: var(--bg-dark);
    color: var(--bg-light);
	display: flex;
	flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    min-height: 82.5vh;
    padding: 4.5rem 4rem 4rem 4rem;
}

h2.title{
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: .7rem;
}

span.highlight{
    color: var(--highlight);
}

p.inner-title{
    color: var(--fade);
    font-size: 1.3rem;
    margin-bottom: 1.5rem;
    margin-top: .3rem;
}

.input-info .btn{
    background-color: var(--btn-bg-color);
    border: none;
	border-radius: 6px;
    color: var(--btn-color);
    cursor: pointer;
    display: block;
    font-size: 1.2rem;
	padding: 1rem;
    box-shadow: 2px 3px 3px 0px rgba(16,185,129,.3);
    -webkit-box-shadow: 2px 3px 3px 0px rgba(16,185,129,.3);
    -moz-box-shadow: 2px 3px 3px 0px rgba(16,185,129,.3);
}

.slider-box{
    font-size: 1.1rem;
    margin-top: 1.6rem;
}

.slider-box span.description{
    letter-spacing: 1.2px;
    padding-right: 1rem;
}

.slider-box label{
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: 1.2px;
    padding-left: .5rem;
    position: relative;
    top: 5.5px;
}

input.slider{
    position: relative;
    top: .125rem;
}

.custom-filter .custom-heading{
    color: var(--extra-fade);
    letter-spacing: .25rem;
    margin: 1.6rem 0 0.6rem 0rem;
}

.custom-filter .filter > span {
    letter-spacing: 1.2px;
    font-size: 1.1rem;
    margin-left: .5rem;
    position: relative;
    top: -10px;
    left: 25px;
}

.custom-filter div.filter :nth-child(1){
    margin-bottom: -.8rem;
    margin-top: 1.2rem;
}

.output-password{
    border-top: 1px solid var(--dark-output);
    display: flex;
	flex-wrap: wrap;
	margin-top: 2rem;
	width: 100%;
}

.password-field{
	align-items: center;
	background: var(--dark-output);
	border-radius: .4rem;
	color: var(--highlight);
	display: flex;
	height: 3.5rem;
	justify-content: center;
    letter-spacing: 1.5px;
	margin: 1.25rem 1.25rem 1.25rem .5rem;
	min-width: 15rem;
    padding: 0 1.2rem;
}

.output-password span.visible{
    color: var(--eye-white);
    cursor: pointer;
    padding-left: 1.4rem;
}

.copy{
    border: 1px solid var(--dark-output);
    border-radius: 6px;
    color: var(--extra-fade);
    cursor: pointer;
    height: fit-content;
    margin-top: 1.3rem;
    padding: .75rem;
}

div.copy > i{
    font-size: 1.5rem;
}

div.copy:hover,
div.copy:focus,
div.copy:active {
    border-color: var(--state-copy);
    transition: all .85s;
}

div.copy:hover > i,
div.copy:focus > i,
div.copy:active > i{
    color: var(--state-copy);
    transition: all .85s;
}

/* we can also use this way to toggle for changing the copy icon */
/* .no-display{
    display: none;
}

.inline-display{
    display: inline-block;
} */

@media (max-width: 520px) {
    .password-field{
        margin-left: -.5rem;
        margin-right: .8rem;
    }
    .output-password{
        font-size: .80rem;
    }
    .copy{
        margin-top: 1.5rem;
    }
    div.copy > i{
        font-size: 1.2rem;
    }
}

.dark-mode {
    display: flex;
    align-items: center;
    position: absolute;
    right: 5rem;
    top: 3rem;
}

.toggle-btn {
    background-color: var(--bg-light);
    border-radius: 2rem;
    height: 1.5rem;
    margin: 0 .5rem;
    padding: .44rem .4rem .4rem .6rem;
    transition: all .8s;
    width: 3.5rem;
}

.inner-circle {
    background-color: var(--bg-light);
    border-radius: 50%;
    box-shadow: inset -8px -7px 0 0px var(--bg-dark);
    height: 1.5rem;
    left: 1.8rem;
    position: relative;
    transition: all .8s;
    width: 1.5rem;
}

.toggle-btn.toggled{
    background-color: #1F2937;  /* var(--extra-fade) The color will be toggled so this is working fine */ 
    transition: all .8s ease-in-out;
}

.toggle-btn.toggled > .inner-circle {
    background-color: #fff; /* var(--bg-light) */ 
    box-shadow: inset -20px -10px 0 0px var(--bg-dark);
    transform: translateX(-30px) ;
    transition: all .8s;
}

.copy-text-sm{
    display: none;
}

@media (max-width: 768px){
    .dark-mode {
        position: absolute;
        right: 3rem;
        top: 2.5rem;
    }
}

@media (max-width: 550px){
    .main-container{
        padding-top: 6.5rem;
    }
}

@media (max-width: 396px) {
    .main-container{
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .password-field{
        margin-left: .2rem;
        margin-right: 2rem;
    }
    h2.title{
        font-size: 2.4rem;
    }
}

@media (max-width: 456px){
    .copy-text-sm{
        display: inline-block;
        letter-spacing: .4rem;
        padding-top: 1rem;
        padding-left: 3.5rem;
        color: var(--extra-fade);
    }
    .copy{
        position: relative;
        bottom: 24px;
        left: 20px;
    }

}

/* ==================================================== CHECKBOX ==================================================== */

input[type="checkbox"] {
    appearance: none;
    background-color: var(--bg-light);
    border: 0.15em solid currentColor;
    border-radius: 0.15em;
    color: currentColor;
    display: grid;
    font: inherit;
    height: 1.15em;
    margin: 0;
    place-content: center;
    transform: translateY(-0.075em);
    width: 1.15em;
    
}

input[type="checkbox"]::before {
    /* background-color: CanvasText; */
    box-shadow: inset 1em 1em var(--bg-dark);
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
    content: "";
    height: 0.65em;
    width: 0.65em;
    transform: scale(0);
    transform-origin: bottom left;
    transition: 120ms transform ease-in-out;
}

input[type="checkbox"]:checked::before {
    transform: scale(1);
}

input[type="checkbox"]:focus {
    outline: max(2px, 0.15em) solid currentColor;
    /* outline-offset: max(2px, 0.15em); */
}


/* ==================================================== SLIDER ==================================================== */

input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
    width: 15rem;
}

/* Track Styles */
/* Chrome, Safari, Opera, and Edge Chromium */
input[type="range"]::-webkit-slider-runnable-track {
    background: var(--custom-dark);
    height: 0.5rem;
}
  
/* Firefox */
input[type="range"]::-moz-range-track {
  background: var(--custom-dark);
  height: 0.5rem;
}

/* Thumb Styles */
/* Chrome, Safari, Opera, and Edge Chromium */
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    background-color: var(--highlight);
    border-radius: .2rem;
    height: 2rem;
    margin-top: -12px; /* Centers thumb on the track */
    width: 1rem;    
}


/* Thumb Styles */
/* Firefox */
input[type="range"]::-moz-range-thumb {
    border: none; /*Removes extra border that FF applies*/
    border-radius: 0; /*Removes default border-radius that FF applies*/
    background-color: var(--highlight);
    height: 2rem;
    width: 1rem;
}

/* Removes default focus */
input[type="range"]:focus {
    outline: none;
  }
  
/* Chrome, Safari, Opera, and Edge Chromium */
input[type="range"]:focus::-webkit-slider-thumb {
    /* border: 1px solid var(--highlight); */
    border-radius: .2rem;
    outline: 1.5px solid var(--highlight);
    outline-offset: 0.2rem;
}
  
/* Firefox */
input[type="range"]:focus::-moz-range-thumb {
    border: 1px solid var(--custom-dark);
    outline: 3px solid var(--custom-dark);
    outline-offset: 0.125rem;     
}

  


/* ==================================================== SCROLLBAR ==================================================== */

::-webkit-scrollbar {
    background-color: var(--scrollbar-bottom);
    width: .45rem;
}

::-webkit-scrollbar-thumb {
    background-color: var(--highlight);
    border-radius: 2rem;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--highlight);
}

::-webkit-scrollbar-track {
    background: var(--scrollbar-bottom);
}

/* ================================== GitHub Corner ================================================= */

.github-corner:hover .left-corner {
    animation: github-wave 560ms ease-in-out;
}


@keyframes github-wave {
    0% {
        transform: rotate(0deg);
    }

    20% {
        transform: rotate(-25deg);
    }

    40% {
        transform: rotate(10deg);
    }

    60% {
        transform: rotate(-25deg);
    }

    80% {
        transform: rotate(10deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

@media (max-width: 500px) {
    .github-corner:hover .left-corner {
        animation: none;
    }
}
